<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div th:each="director:${directors}">
        <h3 th:text="${director.name}"></h3>
        <a th:href="@{/updateDirector/{id}(id=${director.id})}">update director</a>
        <a th:href="@{/deleteDirector/{id}(id=${director.id})}">delete director</a>
        <h4 th:text="${director.genre}"></h4>
        <ul>
            <th:block th:each="movie: ${director.movies}">
                <li th:inline="text"><b>[[${movie.title}]]</b> released in [[${movie.year}]]</li>
                <a th:href="@{/updateMovie/{id}(id=${movie.id})}">update movie</a>
                <a th:href="@{/deleteMovie/{id}(id=${movie.id})}">delete movie</a>
            </th:block>
        </ul>
</div>

<a th:href="@{/addDirector/}">add director</a>
<a th:href="@{/addMovie/}">add movie</a>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>